@import "tailwindcss";

body {
  background-color: #f9f5f2;
  overflow-x: hidden;
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.accessibility-button {
  position: fixed;
  bottom: 5rem;
  right: 2.5rem;
  width: 4rem;
  height: 4rem;
  color: white;
  border-radius: 9999px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.accessibility-button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.accessibility-button:focus {
  outline: none;
}

/* Hamburger animation styles */
.hamburger-active .hamburger-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-active .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger-active .hamburger-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

/* Mobile menu roll-down animation styles */
.mobile-menu-closed {
  max-height: 0;
  transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-open {
  max-height: 200px; /* Adjust based on your content */
  transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-item {
  transition: all 0.2s ease;
}

.mobile-menu-item:hover {
  transform: translateX(4px);
}

.bubblegum-sans-regular {
  font-family: "Bubblegum Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dynapuff-regular {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dynapuff-bold {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.abeezee-regular {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  color: #f95b37;
}

@keyframes loader-note-bounce {
  0%,
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-20px);
  }
}
